body{
   background: #b1e1fd
}

#banner{
    width: 100%;
}

h1{
    color: rgb(128, 0, 128);
    text-align: center;
}

p {
    text-align: center;
    font-size: 25px;
}

#missao {
    font-size: 30px;
}

em strong {
    color: crimson;
}
